.groot-logo-img {
  width: 186px;
}

.menu_thumbnail {
  width: 70% !important;
}

.quote-btn-wide {
  font-size: 14px;
  padding: 13px 22px;
  border-radius: 3px;
  color: #080808;
  background-color: aliceblue;
  box-shadow: 7px 10px 15px black;
  font-weight: 500;
  margin-top: 10%;
  width: 200px !important;
  display: inline-block;
  text-align: center;
}